<!DOCTYPE html>
{% load bootstrap4 %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    {% bootstrap_css %}
</head>
<body>

<div class="container mt-5">
    {% bootstrap_messages %}

    <h3>Login</h3>

    <form action="{% url 'authentication:login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
          <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
        {% endbuttons %}
    </form>
</div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>
