<!--{% load bootstrap4 %}-->

<footer class="container-fluid bg-primary">
    <div class="container text-light">
        <div class="row">
            <div class="col">
                <div class="p-1">
                    <span class="align-middle p-1">Made with Django</span>
                </div>
            </div>
            <div class="col">
                <div class="p-1 text-right">
                    <span class="align-middle p-1">By vNx Software</span>
                </div>
            </div>
        </div>
    </div>
</footer>

{% bootstrap_javascript jquery='full' %}
