{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Marca{% endblock %}
{% block screenname %}<i class="fa-solid fa-tag fa"></i> Marca{% endblock %}
{% block breadcrumb %} Marca{% endblock %}

{% block contents %}
<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title">{% if 'create' in request.path %}Incluir{% else %}Atualizar{% endif %} Marca</h3>
  </div>

  <form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="card-body">
      {% bootstrap_form form %}
    </div>

    <div class="card-footer">
      {% buttons %}
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'brand:list' %}" class="btn btn-primary">Cancelar</a>
      {% endbuttons %}
    </div>
  </form>
</div>
{% endblock %}
