body {
    line-height: 1.3 !important;
    font-size: 0.9rem !important;
}

.table td {
    border-top: none !important;
}

.custom-msg {
    position: fixed;
    bottom: 5px;
    right: 1%;
    width: 15%;
}
