body {
    line-height: 1.3 !important;
    font-size: 0.9rem !important;
}

.table td {
    border-top: none !important;
}

.custom-msg {
    position: fixed;
    bottom: 5px;
    right: 1%;
    width: 15%;
}

#carousel-control-prev {
    left: 160px;
    border-bottom: 0;
    font-size: 32px;
    color: #444;
}

#carousel-control-next {
    right: 160px;
    border-bottom: 0;
    font-size: 32px;
    color: #444;
}
